In [132]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2

In [133]:
data=pd.read_csv("YOURI/Annotations/B16.csv",sep=";")
data.head()

       Class  Pos X  Pos Y
0  Alveolina   93.0  343.0
1  Alveolina   72.0  340.0
2  Alveolina   44.0  357.0
3  Alveolina   33.0  379.0
4  Alveolina  136.0  450.0

In [144]:
import os
import pickle
Colors = pickle.load(open("pallete", "rb"))
colors=[Colors[7],Colors[8],Colors[13],Colors[14],Colors[40],Colors[96],Colors[29],Colors[53],Colors[25],Colors[68]]
classes=list({'Alveolina',
 'Assilina',
 'Coral',
 'Echinoderms (s.l.)',
 'Gasteropods',
 'Miliolids',
 'Nummulites',
 'Orbitolites',
 'Red Algae'})
def Point(csv_folder,image_folder,save_folder):
    names=os.listdir(csv_folder)
    all_classes=set()
    for name in names:
        if name==".ipynb_checkpoints":
            break
        data=pd.read_csv(os.path.join(csv_folder,name),sep=";",encoding='utf-8',engine='c')
        image_path=os.path.join(image_folder,name[:-4]+".jpg")
        image=cv2.imread(image_path)
        data_classes=data["Class"]
        x=data["Pos X"]
        y=data["Pos Y"]
        for i in range(len(x)):
            classe=data_classes[i]
            color=colors[classes.index(classe)]
            img = cv2.circle(image,(int(x[i]),int(y[i])), 5, color, -1)
        
        cv2.imwrite(os.path.join(save_folder,name[:-4]+".jpg"),img)
    return True

In [145]:
csv_folder= "YOURI/Annotations"
image_folder = "YOURI/Scan-Lames"
save_folder= "YOURI/Training_set"
Point(csv_folder,image_folder,save_folder)

True

In [150]:
im=np.ones((1000,400,3))
for i in range(len(classes)):
    cv2.circle(im,(100,100+50*i),10,colors[i],-1)
    #cv2.putText(im,classes[i],(100+50,100+100*i),colors[i])
    cv2.putText(
                    im,classes[i],
                    (100+50,100+50*i), cv2.FONT_HERSHEY_PLAIN, 1,
                    colors[i], 1)

In [151]:
cv2.imwrite("classes.jpg",im)

True

In [149]:
len(classes)

9